*{ padding:0px; margin:0px; font-size:12px; font-family:'Microsoft Yahei';}
body,html{width: 100%;}
body,ul,ol,dl{ padding:0px; margin:0px;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:12px;}
li{ list-style:none;}
a{ text-decoration:none; color:#000;}
em,i{ font-style:normal;}
b,strong{ font-weight:normal;}
.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{ zoom:1;}
.fl{ float:left;}
.fr{ float:right;}
.w{ width:100%; margin:0 auto;}
img{ display:block;}
input,textarea{ outline:none;}
a img{ border:0;}
table{ border-collapse:collapse;}
th,td{ border:1px solid #ccc; padding:0;}